<p><%= t('mailer.greeting') %></p>

<p><%= t('mailer.email_verification.body', email: @user.email).html_safe %></p>

<p><%= t('mailer.email_verification.instructions') %></p>

<p><%= link_to t('mailer.email_verification.button'), identity_email_verification_url(sid: @signed_id), class: "email-button" %></p>

<p class="text-muted"><%= t('mailer.email_verification.ignore') %></p>
